* {
    box-sizing: border-box;
}

.landing {
  background-color: lightsteelblue;
}

.container {
  width: 100%;
  /* height: 100%; */
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 20px;
    /* position: absolute; */
  /* top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform:translateY(-50%); */
}

.landing-page {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: steelblue;
  /* margin-left: auto;
  margin-right: auto;
  align-content: center; */
  /* padding-top: 20px; */
}

.landing-title {
  font-size: 4em;
  padding-bottom: 50px;
}

.landing-header {
  font-size: 1.5em;
  padding-bottom: 40px;
}

#landing-table {
  width: 100%;
}

#landing-edge {
  width: 30%;
  valign: top;
  text-align: center;
  padding-right: 20px;
}

#landing-left {
  width: 40%;
  valign: top;
  text-align: right;
  padding-right: 20px;
}

#landing-right {
  width: 60%;
  vertical-align: top;
  padding-left: 20px;
}

.links {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  border: 4px solid white;
}

.landing-page .links {
  /* padding: 20px; */
}

.links-sm {
  /* font-size: 2em; */
}

.links-tech {
  color: midnightblue;
  display: none;
}

.links-frameworks {
  color: midnightblue;
  display: none;
}

.links-languages {
  color: midnightblue;
  display: none;
}

.links a:link {
  color: midnightblue;
}

/* visited link */
.links a:visited {
  color: midnightblue;
}

/* mouse over link */
.links a:hover {
  /* display: none; */
  color: steelblue;
}

/* selected link */
.links a:active {
  color: steelblue;
}

.plain-link a {
  text-decoration: underline;
  font-style: italic;
  /* font-weight: bold; */
}

#link-resume:hover ~ #endpoint:after {
  content: ":irvanjit.com/resume"
}

#link-linkedin:hover ~ #endpoint:before {
  content: "linkedin.com/in"
}

#link-stackoverflow:hover ~ #endpoint:before {
  content: "stackoverflow.com/cv"
}

#link-github:hover ~ #endpoint:before {
  content: "github.com"
}

#link-wordpress:hover ~ #endpoint:after {
  content: ".wordpress.com"
}

#link-keybase:hover ~ #endpoint:before {
  content: "keybase.io"
}

.links a:hover .fa-linkedin {
  color: #0077b5;
}

.links a:hover .fa-stack-overflow {
  color: #f48024;
}

.links a:hover .fa-github {
  color: #333;
}

.links a:hover .fa-facebook {
  color: #3b5998;
}

.links a:hover .fa-twitter {
  color: #1da1f2;
}

.links a:hover .fa-soundcloud {
  color: #ff8800;
}

.links a:hover .fa-instagram {
  color: #c13584;
}

.links a:hover .fa-tumblr {
  color: #35465c;
}

.links a:hover .fa-wordpress {
  color: #00aadc;
}

.links a:hover .fa-angellist {
  color: #333;
}

.links a:hover .fa-keybase {
  color: #5a8ff7;
}

/* general styling shared between versions */
/* .icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
} */

body .content {
  font-family: "Avenir Next", Arial, sans-serif;
}

.content {
  /* margin: 0.39in 0.39in 0.39in 0.39in; */
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  /* width: 8.5in;
  height: 11in; */
  max-width: 960px;
  margin: auto;
}

a {
  text-decoration: none;
}

.list-description ul {
  list-style-position: outside;
  padding-left: 1.1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-weight: 400;
  font-size: 0.95em;
}

.list-skills ul {
  list-style-position: outside;
  padding-left: 1em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  font-size: 0.9em;
}

.summary-paragraph {
}

.resume a {
  color: midnightblue;
}

.entry a {
  font-weight: 600;
}

#projects .list-description {
  font-size: 0.95em;
};

@media screen and (min-width: 960px) {
  .content {
    max-width: 960px;
  }
}
@media screen {
  .printonly {
    display: none;
  }
}
@media print {
  body .content {
    width: 8.5in;
    height: 11in;
    padding: 0;
    margin: 0;
    font-size: 0.94em;
  }
  .siteonly {
    display: none;
  }
  .company-logo {
    width: 10px !important;
    /* filter: grayscale(100%) !important; */
  }
  .entry-header-icon {
    /* display: none; */
  }
}

.header-link {
  padding-bottom: 3px;
}

#title-main {
  font-size: 2.7em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
  font-weight: 500;
}

#title-sub {
  font-size: 0.9em;
  /* display: none; */
}

#download {
  padding-top: 5px;
}

#header {
  padding: 0px 0px 5px 0px;
  margin: 0px 0px 5px 0px;
  /* border-collapse: collapse; */
}

#header-minimal {
  padding: 0px 0px 3px 0px;
  margin: 0px 0px 0px 0px;
  /* border-collapse: collapse; */
}

#header-stacked {
  text-align: center;
  margin: 0;
  padding: 0;
}

#summary {
  /* display: none; */
}

#header-title {
  width: 73%;
  align-content: left;
}

#header-links {
  width: 27%;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 4px;
  /* font-size: 0.9em; */
}

.header-link .fa-github {
  color: #333;
  color: black;
}

.header-link .fa-linkedin {
  color: #0077b5;
  color: black;
}

.header-link .fa-stack-overflow {
  color: #f48024;
  color: black;
}

.link-icon {
  width: 17px;
  max-width: 17px;
  padding-left: 0px;
  padding-right: 2px;
  margin-left: 2px;
  vertical-align: text-bottom;
}

i {
  /* padding-left: 0px;
  padding-right: 3px;
  margin-left: 4px; */
}

/* .table-main {
  width: 100%
} */

.left {
  width: 73%;
  padding-left: 0px;
  padding-right: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* padding-right: 0.8em; */
}

.right {
  width: 27%;
  padding-left: 4px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.column {
    float: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.table-header {
  width: 100%;
  vertical-align: top;
}

.entry-header-icon {
  width: 0%;
  align: left;
  display: none;
}

.entry-header-left {
  width: 66%;
  align: left;
  text-align: left;
}

.entry-header-right {
  width: 34%;
  align: right;
  text-align: right;
  font-size: 0.67em;
}

.entry-header {
  font-size: 1.05em;
}

.tr-single {
  width: 100%;
}

.entry-header-single {
  width: 100%;
  align: left;
  text-align: left;
}

.entry-header-single-small {
  width: 100%;
  align: left;
  text-align: left;
  font-size: 0.7em;
}

.company-logo {
  width: 20px;
  border-radius: 10%;
  filter: grayscale(0%);
}

.school-logo {
  height: 20px;
}

.section {
  padding: 5px 0px 10px 0px;
  margin: 2px 0px 2px 0px;
}

.section-minimal {
  padding: 1px 0px 2px 0px;
  margin: 2px 0px 2px 0px;
}

.section-title {
  padding: 0px 0px 6px 0px;
  margin: 0px 0px 0px 0px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}

.section-title i {
  display: none;
}

.header-divider {
  display: block;
  height: 0px;
  border: 0;
  border-top: 0px solid #ccc;
  border-color: white;
}

.section-divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  border-color: midnightblue;
  margin: 0.2em 0;
}

.separator {
  color: #333;
}

.entry {
  /* padding-bottom: 2px; */
  margin: 0px 0px 10px 0px;
}
.entry-title {
  padding: 0px 0px 0px 0px;
}
.entry-heading {
  /* text-transform: uppercase; */
  /* font-weight: 400; */
}

.heading-strong {
  font-weight: 600;
}

.role {
  padding: 1px 0px 1px 0px;
  margin: auto;
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
}

.company {
  padding: 0;
  margin: auto;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.95em;
}

.degree {
  padding: 1px 0px 1px 0px;
  margin: auto;
  font-weight: normal;
  font-style: italic;
  font-size: 0.9em;
}

.major {
  padding: 1px 0px 1px 0px;
  margin: auto;
  font-weight: bold;
  font-style: italic;
  font-size: 0.8em;
}

.course-list {
  padding: 1px 0px 1px 0px;
  margin: auto;
  font-weight: normal;
  font-style: italic;
  font-size: 0.5em;
}
